<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="DatabaseSource" value="adonet"/>
  </appSettings>
  <connectionStrings>
    <add name="UsersandRewards" connectionString="Data Source=MI_PRO\SQLEXPRESS;Initial Catalog=UsersAndRewards;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
